PORT=
HOST=
FALCO_NFE_PATH=
FALCO_NFE_ARCHIVE=
SEFAZ_DATA_PATH=
SEFAZ_CHECK_SECONDS=
CUSTOMER_CATALOG_PATH=
MASERP_REFRESH_SECONDS=
MASERP_SQL_SERVER=
MASERP_SQL_DATABASE=
MASERP_SQL_USER=
MASERP_SQL_PASSWORD=
MASERP_SQL_PORT=
MASERP_SQL_ENCRYPT=
MASERP_SQL_TRUST_CERT=
